@import './includes/variables';
@import './includes/flex';
@import './includes/reset';
@import './includes/header';
@import './includes/main_body';
@import './includes/footer';

body{
    background-color: #88BDBc;
}
// menu section scroll class
.menu__scroll--gt{
    background: rgba(0,0,0, 0.7);
}
// toggle menu class
.menu__ul.active{
    left: 0 !important;
}
