*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}

@media screen and (max-width: 575px) {
    .container{
        // max-width: 96vw;
        width: 100vw;
        margin: 0 auto;
    }
}