$bg-primary: #12091A;
$bg-secondary: #787785;
$bg-light: #FCFBFA;
$bg-white: #ffffff;
$bg-mid-white: #EAE4DF;
$bg-dark: #A9A9A9;
$bg-cool-1: #EDF5E1;
$bg-cool-2: #8EE4AF;
$bg-cool-3: #5CDB95;
$bg-cool-4: #0fbe9b;
$bg-cool-4-1: #379683;
$bg-cool-5: #05386B;

$text-primary: #12091A;
$text-secondary: #787785;
$text-light: #FCFBFA;
$text-white: #ffffff;
$text-mid-white: #EAE4DF;
$text-dark: #A9A9A9;
$text-cool-1: #EDF5E1;
$text-cool-2: #8EE4AF;
$text-cool-3: #5CDB95;
$text-cool-4: #379683;
$text-cool-5: #05386B;

$bg-primary-1: #007BFF;
$bg-secondary-1: #6C757D;
$bg-success: #28A745;
$bg-danger: #DC3545;
$bg-warning: #FFC107;
$bg-info: #17A2B8;
$bg-begoni: #1E0E28;
